.contact-form {
    @include flex(row);
    justify-content: center;
    width: 100%;
    background-color: $black-font;

    #box1 {
        background-color: $black-font;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        border-radius: 10px;
        @include flex(column);
        justify-content: center;
        align-items: flex-start;
        margin: 1%;
        padding: 1%;

        .form-heading {
            font-size: 50px;
            color: white;
            padding: 3% 0;
        }

        .form-text {
            color: rgba(255, 255, 255, 0.925);
            font-size: 22px;

            &:hover {
                color: yellow;
            }

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: lightblue;
                }
            }
        }

        .form-content {
            @include flex(row);
            justify-content: flex-start;
            width: 100%;

            .form-icon {
                padding: 1% 2%;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .contact-form {
        @include flex(column);
        justify-content: center;
        align-items: center;
        width: 100%;

        #box1 {
            width: 100%;
            height: auto;
            border-radius: 0;
            margin: 0;
            padding: 0;
            @include flex(column);
            justify-content: center;
            align-items: center;
            align-content: center;

            .form-heading {
                font-size: 25px;
            }

            .form-text {
                font-size: 18px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}