@mixin flexbox($flexway) {
    display: flex;
    flex-flow: $flexway wrap;
    justify-content: center;
    align-items: center;
}
.contact-form{
    @include flexbox(row);
    justify-content: center;
    width: 100%;
    font-family: 'Crimson Text', serif;
    #box1{
        background-color: rgb(71, 7, 104);
        width: 100%;
        height:auto;
        overflow-x: hidden;
        border-radius: 10px;
        @include flexbox(column);
        justify-content: center;
        align-items: flex-start;
        margin: 1%;
        padding: 1%;
        .form-heading{
            font-size: 50px;
            color: white;
            padding: 3% 0;
        }
        .form-text{
            color: rgba(255, 255, 255, 0.925);
            font-size: 22px;
            &:hover{
                color: rgb(221, 29, 29);
            }
              a{
                color: white;
                text-decoration: none;
                &:hover{
                    color:lightblue;
                }
            }
        }
        .form-content{
            @include flexbox(row);
            justify-content: flex-start;
            width: 100%;
            .form-icon{
                padding: 1% 2%;
            }
        }
    }
}
@media only screen and (max-width:600px){
    .contact-form{
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    width: 100%;
    #box1{
        background-color: rgb(71, 7, 104);
        width: 100%;
        height:auto;
        border-radius: 0;
        margin: 0;
        padding: 0;
        @include flexbox(column);
         justify-content: center;
         align-items: center;
         align-content: center;
        .form-heading{
            font-size: 25px;
        }
        .form-text{
            font-size: 18px;
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
}