@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

// 
$off-white-bg:#FFFFFF;
$white-light:rgb(238, 238, 238);
$black-font:#1B1C1E;
$black-light:#303030;

// 
:root {
    // light mode
    --font-darker: #1B1C1E;
    --font-dark: #303030;
    --bg-light: #FFFFFF;
    --bg-dark: #ffffff;
    --hover1-light: #d6d6d6;
    --hover2-light: #f6f6f6;
    --link: blue;
    --border: #e6e6e6;

}

@mixin flex($flex-direction) {
    display: flex;
    flex-flow: $flex-direction wrap;
    justify-content: center;
    align-items: center;
}

@mixin a-links {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1%;
    border: none;
    outline: none;
}


// 
html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Roboto Condensed',
        sans-serif;
    font-size: 100%;
    letter-spacing: 1px;

}

a {
    text-decoration: none;
}

.dark-mode {
    // dark mode
    --font-darker: #FFFFFF;
    --font-dark: #fceeee;
    --bg-light: #303030;
    --bg-dark: #1B1C1E;
    --hover1-light: #241f1f;
    --hover2-light: #272424;
    --link: #e6e6e6;
    --border: #272424;

}