@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
}

header {
  background-color: #FFFFFF;
  height: 100vh;
  color: black;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1%;
  color: black;
}

header .navbar .logo {
  font-weight: bold;
  padding: 0 2%;
  width: 30%;
}

header .navbar .logo > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1%;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  margin: 1%;
  font-weight: bold;
  color: #1B1C1E;
}

header .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0 2%;
}

header .navbar .nav-items .nav-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1%;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 200;
  padding: 0 3%;
  font-weight: 600;
  color: black;
}

header .navbar .nav-items .nav-links:hover {
  border-bottom: 2px solid blue;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

header .container .text-box {
  font-size: 40px;
  font-weight: 600;
  padding: 2%;
  text-align: center;
}

header .container .text-box span {
  font-size: 25px;
  font-weight: 400;
}

header .container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container .btn-box .btns {
  padding: 1% 2%;
  margin: 1% 1%;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  outline: none;
  border: none;
  background-color: blue;
  border-radius: 8px;
  font-weight: bold;
}

header .container .btn-box .btns:hover {
  background-color: #5151d6;
}

header .container .btn-box .btns a {
  color: #FFFFFF;
  text-decoration: none;
}

header .container .img-box {
  padding: 2%;
}

/*for mobile screens*/
@media only screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar .logo {
    width: 100%;
    text-align: center;
    padding: 1%;
  }
  header .navbar .logo > a {
    font-size: 22px;
  }
  header .navbar .nav-items {
    width: 100%;
  }
  header .navbar .nav-items .nav-links {
    font-size: 20px;
  }
  header .container {
    margin-top: 15%;
  }
  header .container .text-box {
    margin: 1% auto;
    font-size: 26px;
    font-weight: 600;
  }
  header .container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .container .btn-box .btns {
    padding: 1% 3%;
    font-size: 20px;
  }
  header .container .img-box {
    padding: 10%;
  }
  header .container .img-box img {
    width: 200px;
    height: 180px;
  }
}

html,
body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #303030;
  background-color: #ffff;
  height: 100vh;
}

.hidden {
  display: none;
}

.fade-in {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

nav {
  width: 100%;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav #nav_logo {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 2%;
}

nav #nav_logo a {
  text-decoration: none;
  color: inherit;
}

nav #nav_container {
  width: 50%;
  display: inherit;
  padding: 0 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #nav_container .nav__item {
  padding: 1% 2%;
  margin: 0 1%;
}

nav #nav_container .nav__item .nav__links {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

nav #nav_container .nav__item:hover {
  border-bottom: 0.1rem solid black;
}

#nav_responsive_container {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav #nav_logo {
    font-size: 1.2rem;
    padding: 1% 2%;
  }
  nav #nav_container {
    display: none;
  }
  nav #nav_icon {
    width: 10%;
    padding: 1% 3%;
    display: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav #nav_icon img {
    width: 3rem;
  }
  nav #nav_icon:hover {
    cursor: pointer;
  }
  #nav_responsive_container {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
    width: 100%;
    height: 20vh;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #e6eff1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: none;
  }
  #nav_responsive_container .nav__item {
    padding: 1% 2%;
    margin: 1%;
    width: 100%;
    text-align: center;
  }
  #nav_responsive_container .nav__item .nav__links {
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
  }
  #nav_responsive_container .nav__item:hover {
    background-color: #d7dfe0;
  }
  #nav_responsive_container.hidden {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.spl-items {
  color: blue;
}

.section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 80vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #1B1C1E;
}

.section1-container .block_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
  height: 400px;
  width: 45%;
  background-color: #303030;
  border: 1px solid #1B1C1E;
}

.section1-container .block_container:hover {
  -webkit-box-shadow: 5px 5px 10px black, -5px -5px 10px black;
          box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.section1-container .block_container .header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.section1-container .block_container .header p {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 0 2%;
}

.section1-container .block_container .content > p {
  color: #eeeeee;
  width: auto;
  height: auto;
  font-size: 22px;
  padding: 0 2%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .section1-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: auto;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 2%;
  }
  .section1-container .block_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    height: auto;
    padding: 1%;
    margin: 2% 0;
  }
  .section1-container .block_container .header > p {
    font-size: 28px;
    text-align: center;
  }
  .section1-container .block_container .content {
    width: 100%;
    height: auto;
  }
  .section1-container .block_container .content > p {
    margin: 2%;
    font-size: 18px;
    padding: 2%;
    line-height: 30px;
    text-align: left;
  }
}

.heading {
  font-size: 50px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  background-color: white;
  color: #1B1C1E;
  margin: 0;
  padding: 5% 2%;
}

.work-container {
  padding: 5%;
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: center;
  background-size: cover;
}

.work-container .card {
  border-radius: 15px;
}

.work-container .card .card-body .card-title {
  font-size: 28px;
}

.work-container .card .card-body .card-text {
  font-size: 20px;
}

.work-container .card .card-body .btn {
  width: 50%;
  font-size: 28px;
  padding: 0;
  text-align: left;
}

.work-container .card .card-body .btn a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1%;
  border: none;
  outline: none;
  color: blue;
  text-decoration: none;
}

.work-container .card:hover {
  -webkit-box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #f6f6f6;
          box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #f6f6f6;
}

@media only screen and (max-width: 600px) {
  .heading {
    text-align: center;
  }
  .card .card-body .card-title {
    font-size: 22px;
  }
  .card .card-body .card-text {
    font-size: 18px;
  }
  .card .card-body .btn {
    width: 50%;
    font-size: 26px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: #1B1C1E;
}

.contact-form #box1 {
  background-color: #1B1C1E;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin: 1%;
  padding: 1%;
}

.contact-form #box1 .form-heading {
  font-size: 50px;
  color: white;
  padding: 3% 0;
}

.contact-form #box1 .form-text {
  color: rgba(255, 255, 255, 0.925);
  font-size: 22px;
}

.contact-form #box1 .form-text:hover {
  color: yellow;
}

.contact-form #box1 .form-text a {
  color: white;
  text-decoration: none;
}

.contact-form #box1 .form-text a:hover {
  color: lightblue;
}

.contact-form #box1 .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.contact-form #box1 .form-content .form-icon {
  padding: 1% 2%;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .contact-form #box1 {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact-form #box1 .form-heading {
    font-size: 25px;
  }
  .contact-form #box1 .form-text {
    font-size: 18px;
  }
  .contact-form #box1 .form-text a {
    color: white;
    text-decoration: none;
  }
}
/*# sourceMappingURL=index.css.map */