header {
  background-color: white;
  height: 100vh;
  color: black;
  font-family: 'Kufam', cursive;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1%;
  color: black;
}

header .navbar .logo {
  padding: 2%;
  width: 30%;
}

header .navbar .logo > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1%;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  margin: 1%;
  color: black;
}

header .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 2%;
}

header .navbar .nav-items .nav-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1%;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 200;
  padding: 1% 3%;
  color: black;
}

header .navbar .nav-items .nav-links:hover {
  border-bottom: 2px solid blue;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

header .container .text-box {
  font-size: 40px;
  font-weight: 600;
  padding: 2%;
  text-align: center;
}

header .container .text-box span {
  font-size: 25px;
  font-weight: 400;
}

header .container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container .btn-box .btns {
  padding: 1% 2%;
  margin: 1% 1%;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: auto;
  background-color: white;
  border: 2px solid blue;
  border-radius: 10px;
}

header .container .btn-box .btns:hover {
  color: white;
  background-color: blue;
}

header .container .btn-box .btns a {
  color: blue;
  text-decoration: none;
}

header .container .btn-box .btns a:hover {
  color: white;
}

header .container .img-box {
  padding: 2%;
}

/*for mobile screens*/
@media only screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar .logo {
    width: 100%;
    text-align: center;
    padding: 1%;
  }
  header .navbar .logo > a {
    font-size: 22px;
  }
  header .navbar .nav-items {
    width: 100%;
  }
  header .navbar .nav-items .nav-links {
    font-size: 20px;
  }
  header .container .text-box {
    margin: 1% auto;
    font-size: 30px;
    font-weight: 600;
  }
  header .container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .container .btn-box .btns {
    padding: 1% 3%;
    font-size: 20px;
  }
  header .container .img-box {
    padding: 10%;
  }
  header .container .img-box img {
    width: 200px;
    height: 180px;
  }
}

.spl-items {
  color: blue;
}

.section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Kufam", cursive;
}

.section1-container .block_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-radius: 10px;
  color: black;
  padding: 2%;
  margin: 2%;
  height: 100%;
  width: 45%;
  height: auto;
  background: #ffffff;
  border: 1px solid #bbb8b8;
}

.section1-container .block_container:hover {
  -webkit-box-shadow: 5px 5px 10px #cfcece, -5px -5px 10px #f9f6f6;
          box-shadow: 5px 5px 10px #cfcece, -5px -5px 10px #f9f6f6;
}

.section1-container .block_container .header {
  height: auto;
  margin: 0;
  padding: 0;
}

.section1-container .block_container .header p {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 0 2%;
}

.section1-container .block_container .content > p {
  width: auto;
  height: auto;
  font-size: 22px;
  padding: 0 2%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .section1-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
  .section1-container .block_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 90%;
    height: auto;
    padding: 1%;
    margin: 2% 0;
  }
  .section1-container .block_container .header {
    height: auto;
  }
  .section1-container .block_container .header > p {
    font-size: 35px;
    text-align: left;
  }
  .section1-container .block_container .content {
    width: 100%;
    height: auto;
  }
  .section1-container .block_container .content > p {
    margin: 2%;
    font-size: 22px;
    padding: 2%;
    line-height: 30px;
    text-align: left;
  }
}

.heading {
  font-size: 50px;
  width: 100%;
  font-weight: 800;
  text-align: left;
  background-color: white;
  color: blue;
  margin: 0;
  padding: 5% 2%;
  font-family: "Kufam", cursive;
}

.work-container {
  font-family: "Kufam", cursive;
  padding: 5%;
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: center;
  background-size: cover;
}

.work-container .card {
  border-radius: 15px;
}

.work-container .card:hover {
  -webkit-box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #f6f6f6;
          box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #f6f6f6;
}

.work-container .card button {
  font-size: 18px;
}

.work-container .card button > a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .heading {
    text-align: center;
    font-weight: 500;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Kufam', cursive;
}

.contact-form #box1 {
  background-color: blue;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1%;
  padding: 1%;
}

.contact-form #box1 .form-heading {
  font-size: 50px;
  color: white;
  padding: 3% 0;
}

.contact-form #box1 .form-text {
  color: rgba(255, 255, 255, 0.925);
  font-size: 22px;
}

.contact-form #box1 .form-text:hover {
  color: yellow;
}

.contact-form #box1 .form-text a {
  color: white;
  text-decoration: none;
}

.contact-form #box1 .form-text a:hover {
  color: lightblue;
}

.contact-form #box1 .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.contact-form #box1 .form-content .form-icon {
  padding: 1% 2%;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact-form #box1 {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
    align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact-form #box1 .form-heading {
    font-size: 25px;
  }
  .contact-form #box1 .form-text {
    font-size: 18px;
  }
  .contact-form #box1 .form-text a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*# sourceMappingURL=index.css.map */