*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:oswald;
}
@font-face{
    font-family: oswald;
    src: url("Oswald-VariableFont_wght.ttf");
}
/*for laptop */
body{
    background-color: gray;
}
/* nav css */
.nav-container{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 1%;
     color: white;
}
.nav-items , .company-logo{
    text-transform: uppercase;
    padding: 5px 1%;
    font-size: 20px;
}
.nav-container>.nav-items>a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.nav-container>.nav-items>a:hover{
    color: rgb(255, 9, 71);
    text-decoration: underline red;
}
.company-logo{
    width: 200px;
    text-align: center;
}
.special{
    background-color: red;
    padding: 2%;
    font-size: 18px;
    color: white;
}
/*main section css */

.container{
    display: flex;
    flex-direction: row;
    margin: 2% 5%;
    border-radius: 20px;
    justify-content: center;
    width: auto;
}
.left-container{
    width: 50%;
    padding: 1%;
    background-image: url("log-in_page_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.699);
}

.right-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.699);
}
.right-container>.form-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1%;

}
.right-container>.form-container>.form-item{
    background-color: white;
    border-bottom: 1px solid black;
    text-align: center;
    width: 200px;
    margin: 1%;
    padding: 1%;
}
.welcome-text{
    color: rgba(0, 0, 0, 0.767);
    font-size: 18px;
}
input[type=text]{
    border: none;
    outline: none;
    padding: 1%;
}
input[type=password]{
    border: none;
    outline: none;
    padding: 1%;
}
.right-container>.form-container>.forget-something>a{
    text-decoration: none;
    text-align: end;
    color: red;
    font-size: 14px;
}
.sign-in-btn{
    outline: none;
    background-color: gray;
    border-radius: 30px;
    padding: 1% 2%;
    margin: 1% 2%;
    border: 1px solid gray;
    width: 150px;
    font-size: 16px;
    color: white;
}
.sign-in-via>a{
    text-decoration: none;
    
}
.sign-in-btn:hover{
    background-color: black;
    color: white;
}
/* for mobile screen  */
@media only screen and (max-width:500px){
    .nav-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-container{
        display: none;
    }
    .right-container{
        margin-top: 100px;
        width: 100%;
    }

}